*{
    font-size: 10px;
    
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1em;
}

.pointer{
    cursor: pointer;
}

body{
    width: 100%;
    margin: auto;
}

.menu li{
    float: left;
    font-size: 1.75em;
    position: relative;
    border: 1px solid red;
    width: 120px;
    padding: 6px;
    list-style-type: none;
}

.menu li li{  
    border: 1.4px solid red;
    width: 121px;
}

.menu li:hover{
    background-color: #cccccc;
    transition: 1.5s;
}

.menu li:hover ul{
    display: block;
}

li > ul{
    position: absolute;
    right: -1px;
    top: 32px;
    display: none;    
}

table{
    border: 1px solid blue;
}

table th{
    border: 1px solid green;
}

#tableCadastro td{
    border: 1px solid red;
}

.divMenu{
    background-color: #333;
    top: 0px;
    position: relative;
    width: 100%;
    height: 100px;
    
}

.imgPost{
    width: 100px;
    height: 100px;
    background: url(../img/perfil.jpg) no-repeat;
    background-position: 50% 40%;
    background-size: 230px 230px;    
    background-color: #ffffff;
}

.imgPost:hover{
    background-size: 130px 130px;
    transition-duration: .5s;
}

.imgPageIcon{
    position: relative;
    width: 50px;
    height: 25px;
    padding-left: 130px;
    padding-top: 20px;
}

.menuHGroup{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid green;   
    top: 0px;
    color:red;
    text-shadow: -1px -1px white, 1px 1px #333
}

.menuHGroup h1{
    position: absolute;
    font-size: 3.75em;
    padding-left: 25px;
    top: -20px;
    z-index: 1;

}

.menuHGroup h2{
    position: absolute;
    font-size: 2em;;
    left: 80px;
    top: 16px;
    color: rgba(150,150,150,.8);
    z-index: 2;
}

#txtSearch{
    position: relative;
    width: 40%;
    margin: auto;
    left: 10%;
    padding-bottom: 8px;
    border-bottom-left-radius: 2px;
    border-radius: 3px;
    top: -10px;    
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

