*{
margin: 0;
padding:0;

}

body{
  /*background-color: #d3dae8;*/
}


.logadolateral{
    font-size: 12px;
    float:left; /*define que o elemento deve flutuar à direita*/
    padding: 0px 30px; /*espaço entre a borda e o conteúdo do elemento*/
    width: 15%; /*largura*/   
    text-align: center; /*alinhamento do texto*/   
    position: fixed;
}

#lateral{
    font-size: 17px;
    float:left; /*define que o elemento deve flutuar à direita*/
    background-color: #95dd97; /*cor de fundo*/
    padding: 10px 10px; /*espaço entre a borda e o conteúdo do elemento*/
    width: 18%; /*largura*/   
    top: 240px; 
    position: fixed;
}

#imgPessoaLogada{
    width: 120px;
    height: 120px;
}

#conteudo{
 margin-top: 10px;
    width: 79%; /*largura*/
    float:right; /*define que o elemento deve flutuar à esquerda*/
    background-color: #ebebeb; /*cor de fundo*/
    font-size: 17px;
}

textarea{
    resize: none;
    padding: 2px;
}

#campoCadastrar{
    padding: 2; /*espaço entre a borda e o conteúdo do elemento*/
    width: 79%; /*largura*/
    float:right; /*define que o elemento deve flutuar à esquerda*/
    font-size: 17px;
    background-color:#d3dae8; /*cor de fundo*/
}

#meio{
    padding: 180px 10px;
}

#topo{
    padding: 80px 10px;
}

.campoPostar{
    padding: 5px 15px; /*espaço entre a borda e o conteúdo do elemento*/
}


#btnAdicionarSite, #btnAdicionarVideo, #btnAdicionarImagem{
    width: 50px;
    cursor: pointer;

}

.btnPostar{
    width: 100px;
    height: 25px;
    padding:10px 2px;
    cursor: pointer;
    float: left;
    margin-top: 10px;    
    margin-bottom: 20px;
    margin-left: 100px;
}
.btnApagar{
    width: 100px;
    height: 25px;
    padding:10px 2px;
    cursor: pointer;
    float: left;
    margin-top: 10px;    
    margin-bottom: 20px;
}


.contact_form{ 
    display: flex;        
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    marker-end: 10px;
} 
 /* Estilo de Lista*/ 
 
.contact_form ul { 
    width:90%; 
    list-style-type:none; 
    list-style-position:outside; 
    margin:0px; 
    padding:0px; 
    margin-top: 50px 10px; 
    margin-left:0px; 
} 
 
 
#botoes{ 
    padding:0px;  
    border-bottom:0px solid #eee; 
    margin-left: 1%; 
    margin-right: 20%; 
} 
 
.contact_form li{ 
    padding: 8px;  
    border-bottom:2px solid #eee; 
    position:relative; 
} 
.contact_form li:first-child, .contact_form li:last-child { 
    border-bottom:1px solid #777; 
} 


/* Elementos de Entrada do Formulário*/ 
 
.contact_form label { 
    width:170px;
    margin-top: 2px; 
    display:inline-block; 
    float:left; 
    padding:2px 2px 3p; 
} 


#inputUrlVideo, #inputUrlImagem, #inputUrlSite{
    width: 50%;
}

.contact_form input {
    padding: 3px; 
} 

:-moz-placeholder { 
    color: activeborder; 
} 
 
::-webkit-input-placeholder { 
    color: darkgrey; 
} 



.contact_form #campo, .contact_form textarea {  
    border:1px solid #aaa; 
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
    border-radius:2px; 
} 
 
 
.contact_form #campo:focus, .contact_form textarea:focus { 
    background: #fff;  
    border:1px solid #555;  
    box-shadow: 0 0 3px #aaa;  
} 


/* Adicionando um Pouco de Interatividade com CSS3 */ 
 
.contact_form #campo:focus, .contact_form textarea:focus {  
    padding-right:70px; 
} 
 
.contact_form #campos:focus, .contact_form textarea:focus {  
    padding-right:70px; 
} 
 
.contact_form #campo, .contact_form textarea {  
    -moz-transition: padding .25s;  
    -webkit-transition: padding .25s;  
    -o-transition: padding .25s; 
    transition: padding .25s; 
} 
 
.contact_form #campos, .contact_form textarea {  
    -moz-transition: padding .25s;  
    -webkit-transition: padding .25s;  
    -o-transition: padding .25s; 
    transition: padding .25s; 
} 

/* Estilizando Campos */ 
.contact_form #campo, .contact_form textarea { 
    padding-right:30px; 
} 
.contact_form #campos, .contact_form textarea { 
    padding-right:30px; 
} 

::-webkit-validation-bubble-message { 
    padding: 1em; 
} 



/*Aréa de Cadastro de links*/
#camposInput{
    padding: 2; /*espaço entre a borda e o conteúdo do elemento*/
    width: 75%; /*largura*/
    float:right; /*define que o elemento deve flutuar à esquerda*/
    font-size: 17px;
}

#dadosEsquerda{
    font-size: 17px;
    float:left; /*define que o elemento deve flutuar à direita*/
    padding: 10px 10px; /*espaço entre a borda e o conteúdo do elemento*/
    width: 18%; /*largura*/   
    top: 240px; 
}

#campoLinks{
    background-color: gainsboro;
    font-family: sans-serif;
    outline: none;
    resize: none;
}

/* Estilo Div Cadastrar*/

#conteudoHome {
	width: 300px;
	height: 100%;
	margin-top: 0px;
	margin-left: auto;
	position: relative;
    z-index:10;
}


#imagemSelecionada{
    width: 100%;
    height: 200px;
}

/* Formatação de imagens com legendas */
figure.foto-legenda { 
	position: relative;
	Border: 1px solid white; 
	box-shadow: 1px 1px 4px black;

}
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.6);
	color: white;
	width: 100%;
	height: 100%;
	padding: 0px 5px;
	box-sizing: border-box;
    transition: opacity 1s;
    cursor: pointer;
}

figcaption p{

    margin-right: 20%;
    margin-top: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:right;
}

#camera{
    margin-left: 20%;
    width: 30px; 
    height: 30px; 
    float:left; 
    margin-top: 165px; 
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}

#imagemSelecionada:hover{  
    cursor: pointer;  
} 


.image-upload > input
{
    display: none;
}

.campoDescricao{
    margin-top: 12px;
}

.criaPublicacao h1{
    font-size: 50px; 
    text-decoration: none; 
    text-align: center; 
    margin-top: 12px;
}