<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <title>Linker</title>
    <link rel="stylesheet" href="css/style_login.css">

</head>

<body>

    <div class="logo">
        <a href="index.html"><img src="img/logo.png" id='logo' width="300px"></a>
    </div>

    <div class="divLogin">
            
        <form class="form-area" action="">
            <h1>Login</h1>
            <div class="textlogin">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Usuário" name="" value="">
            </div>
            <div class="textlogin">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Senha" name="" value="">
            </div>
            <input class="btn" type="button" name="" value="Login">
            <a href=""><p>Esqueceu a senha?</p></a>
        </form>
    </div>
</body>

</html>